.welcome {
	justify-content: center;
	margin-top: 22rem;
}

h1 {
	color: royalblue;
	font-weight: bolder;
	text-align: center;
}

p,
h3 {
	font-weight: bolder !important;
	text-align: center !important;
}

.links {
	justify-content: center;
	text-align: center;
}
