label {
	margin-top: 1rem;
	font-weight: bold;
}

.profile {
	margin-top: -19rem;
}

button {
	margin-top: 1rem;
	justify-content: center;
}

.usernameGroup {
	text-align: center;
	font-size: 1.25rem !important;
}
